@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Barlow:wght@200&family=Poppins:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condesed', sans-serif;
}

/*#region Header starts here*/
.accred-header {
    background-color: #043E9F;
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accred-header .img-header{
    display: flex;
    justify-content: flex-start;
    margin-left: 2.8%;
}
.accred-header .logo-img{
    height: 65px;
    width: 65px;
}
.accred-header h1 ,.accred-header a{
    font-size: 32px;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #fff;
}
.accred-header .site-header{
    margin-left: 95px;
    vertical-align: auto;
}
.accred-header a {
    text-decoration: none;
    list-style: none;
    justify-content: flex-end;
    margin-right: 7%;
}
/*Responsive Text Size starts here */
@media screen and (min-width: 861px) {
    .accred-header h1 ,.accred-header a {
      font-size: 24px;
    }
}
@media screen and (max-width: 860px) {
    .accred-header h1 ,.accred-header a {
      font-size: 24px;
    }
    .accred-header .site-header{
        margin-left: 15px;
        margin-top: 12px;
    }
}
/*Responsive Text Size ends here */
/*#endregion Header ends here*/

/*#region Accreditation Navigation Bar starts here */
nav {
    background-color: #023FD8;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
}

nav ul li {
    float: left;
    margin-right: 2px;
    display: inline-block;
    background-color: #023FD8;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 2px #fff,
                0 0 2px #fff;
}

nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;
}

nav ul li i {
    margin-left: 10px;
    font-size: 15px;
}

nav ul ul {
    position: absolute;
    top: 70px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 370px;
    display: list-item;
    border-bottom: 1px dotted #fff;
}
.short {
    width: 175px;
}

nav ul ul li a {
    line-height: 60px;
}
/*#endregion Accreditation Navigation Bar ends here */

/*#region Footer starts here */
footer {
    background-color: #043E9F;
    padding: 50px 20px;
    margin-top: 5%;
}

.footer-content li img {
    width: 200px;
    height: 200px;
    margin-left: 7%;
}

.footer-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .accred-ftr h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
    color: #fff;
    font-weight: 550;
}

footer .footer-content {
    list-style: none;
}

footer .footer-content a {
    text-decoration: none;
    color: #ffff;
    line-height: 25px;
}

footer .footer-content a:hover {
    font-weight: bold;
}

footer .footer-content li {
    color: #fff;
    font-size: 17px;
    line-height: 25px;
}

footer .footer-content li i {
    padding-right: 10px;
}

@media only screen and (max-width: 540px) {
    footer .accred-ftr {
        flex-basis: 80%;
        margin: 0 auto;
    }

    footer .accred-ftr h3 {
        margin-top: 6%;
    }

    .footer-content li img {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .footer-container {
        align-items: center;
    }
    footer .accred-ftr {
        flex-basis: 80%;
        margin: 0 auto;
    }

    footer .accred-ftr h3 {
        margin-top: 6%;
    }

    .footer-content li img {
        margin-left: 20px;
    }
}

@media (max-width: 930px) {
    footer .accred-ftr {
        flex-basis: 80%;
        margin: 0 auto;
    }

    footer .accred-ftr h3 {
        margin-top: 6%;
    }

    .footer-content li img {
        margin-left: 12px;
    }
}
/*#endregion Footer ends here */

/*#region Account Settings Starts here */
hr.blueline
{
    width: 100%;
    margin-top: 7%;
    background-color: #023FD8;
    border-top: 8px solid #023FD8;
    border-radius: 5px;
}
.main-content
{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.fields{
    width:100%;
    background-color: #ECF0F1;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
    color: #000;
    font-weight: 600;
}
.field-label{
    font-size: 16px;
}
.content-title
{
    font-size: 32px;;
    font-weight: 700;
    margin-top: 3%;
}
.content-subtitle{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}
.btnSubmit{
    margin-top:20px;
    margin-bottom: 20px;
    padding:9px 15px;
    background-color:#043E9F;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: 600;
}
.btncancel{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 10px;
    background: none;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.actionbtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}
.newpass{
    width:48%;
    background-color: #ECF0F1;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
    color: #000;
    font-weight: 600;
}
.options{
  font-size: 16px;
  font-weight: 500;
}
/*#endregion Account Settings Ends here */

/*#region Select Program Starts here*/
.department-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 50px auto;
}
.department-heading h2 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #023FD8;
    flex: 1 1 100%;
}

.department-heading p {
    font-size: 25px;
    margin-bottom: 50px;
    color: #023FD8;
    width: 50%;
}
@media screen and (min-width: 861px) {
    .department-heading p {
        width: 50%;
    }
}
@media screen and (max-width: 860px) {
    .department-heading p {
        width: 80%;
    }
}
.department-card-container{
    width: 90%;
    margin: 50px auto;
}
.department-card {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    margin-right: 25px;
    margin-bottom: 50px;
    transition: 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  }
.department-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.department-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    flex-flow: wrap;
}
.multi-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.department-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.card-header img {
    width: 250px;
}
.card-body {
    width: 250px;
    padding: 30px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #023FD8;
}
.card-body p {
    min-height: 4.2em;
    line-height: 1.4em;
}

.card-body .report-btn {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 17px;
    border-radius: 50px;
}
.card-body .dci-btn {
    border: 1px solid #666666;
    color:#666666;
}
.card-body .dbe-btn {
    border: 1px solid #EF1833;
    color:#EF1833;
}
.card-body .dte-btn {
    border: 1px solid #49983C;
    color:#49983C;
}
.card-body .dci-btn:hover {
    color: #fff;
    background-color: #666666;
}

.card-body .dbe-btn:hover {
    color: #fff;
    background-color: #EF1833;
}

.card-body .dte-btn:hover {
    color: #fff;
    background-color: #49983C;
}

/*#endregion Select Program ends here*/

/*#region Table Design Starts here*/

/*Table Header and Horizontal Line Starts here*/
.general-header {
    margin-top: 30px;
    margin-left: 40px;
}
.general-header h2{
    font-weight: 700;
    font-size: 32px;
    margin-left: 80px;
}
.line-divider{
    margin-top: 115px;
    background-color: #023FD8;
    height: 12px;
    width: 90%;
    margin: auto;
    border-radius: 7px 7px 7px 7px;
}
/*Table Header and Horizontal Line Ends here*/

/*Table content starts here */
.table-container {
    width: 90%;
    margin: auto;
    margin-top: -8px;
    padding: 0 3%;
    padding-top: 25px;
    min-height: 400px;
    box-shadow: 0px 4px 7px #D3D3D3;
    padding-bottom: 30px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table thead {
    background-color: #043E9F;
 }

.table thead tr th {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    letter-spacing: 0.35px;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 3px solid #fff;
    letter-spacing: 1px;
    vertical-align: middle;
}

.table tbody tr td {
    font-size: 16px;
    background-color: #E8E8E8;
    letter-spacing: 0.35px;
    color: #000;
    padding: 8px;
    text-align: center;
    border: 3px solid #fff;
    font-weight: 400;
    border-bottom: 1.5px solid #E6E6E6;
    vertical-align: middle;
    font-size: 20px;
}
thead tr th:first-child,
tbody tr td:first-child {
  width: 10%;
}

/*Control Panel Content Table Design Starts Here*/
.control-panel thead tr th:nth-of-type(2),
.control-panel tbody tr td:nth-of-type(2) {
  width: 30%;
}
.control-panel thead tr th:nth-of-type(3),
.control-panel tbody tr td:nth-of-type(3) {
  width: 45%;
}
.control-panel thead tr th:nth-of-type(4),
.control-panel tbody tr td:nth-of-type(4) {
  width: 15%;
  vertical-align: middle;
}
.control-panel tbody tr td:nth-of-type(3) {
    text-align: left;
}
/*Control Panel Content Table Design Ends Here*/

/*Area Manager width start*/
.area-manager thead tr th:nth-of-type(2),
.area-manager tbody tr td:nth-of-type(2) {
  width: 45%;
}
.area-manager thead tr th:nth-of-type(3),
.area-manager tbody tr td:nth-of-type(3) {
  width: 25%;
  font-weight: 600;
  text-align: center;
}
.area-manager thead tr th:nth-of-type(4),
.area-manager tbody tr td:nth-of-type(4) {
  width: 20%;
}

.Unpublished{
    color: red;
}
.Published{
    color: green;
}
/*Area Manager width end*/

/*Button Classes Start*/
.action-btn{
    width: 45%;
    padding: 3px 12px;
    color: #fff;
    font-size: 18px;
    border-radius: 7px;
}
.action-btn:hover {
    box-shadow: inset 0 0 1250px 150px rgba(255, 255, 255, 0.1);
}
.template-btn .action-btn{
    width: 20%;
}
.delete-btn {
    background-color: #DC143C;
}
.edit-btn {
    background-color: #023FD8;
}
.view-btn {
    font-weight: 700;
}
.view-btn i {
    color: #023FD8;
    margin-left: 10px;
    margin-right: 2px;
}
.add-btn {
    width: 250px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-bottom: 5px;
    margin-left: 5px;
}
/*Button Classes End*/

.area .table tbody tr td:not(:first-child) {
    text-align: left;
}

/*Table Design Responsiveness starts here */
@media (max-width: 768px) {
    .general-header h2 {
        font-size: 24px;
        text-align: left;
        margin: auto;
        margin-left: 2%;
    }
    .control-panel thead tr th:first-child,
    .control-panel tbody tr td:first-child,
    .control-panel thead tr th:nth-of-type(n+1),
    .control-panel tbody tr td:nth-of-type(n+1) {
        width: 100%;
    }
    .area-manager thead tr th:first-child,
    .area-manager tbody tr td:first-child,
    .area-manager thead tr th:nth-of-type(n+1),
    .area-manager tbody tr td:nth-of-type(n+1) {
        width: 100%;
        text-align: left;
    }
    .template-btn .action-btn{
        width: 30%;
    }

    .table thead {
        display: none;
    }

    .table, .table tbody,.table tr,.table td{
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table tbody tr td {
        text-align: left;
        padding-left: 40%;
        background-color: transparent;
        position: relative;
        font-size: 15px;
    }

    .table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 40%;
        padding-left: 10px;
        font-weight: bold;
        font-size: 15px;
        text-align: left;
    }
    .action-btn{
        width: 30%;
        padding: 3px 7px;
        color: #fff;
        font-size: 15px;
        border-radius: 7px;
    }
}
/*Responsiveness ends here */
/*#endregion Table Design Ends here*/

/*#region Modal Designs Start*/

.modal{
    background-color: rgba(0, 0, 0, 0.244);
}
.modal-dialog{
    min-width: 30%;
    max-width: 45%;
}
.area_manager .modal-dialog{
    min-width: 15%;
    max-width: 30%;
}
.modal-content{
    margin-top: 20%;
    padding:15px;
}
.modal-header h2{
    font-size: 25px;
    font-weight: 600;
}
/*Modal Design Responsiveness Start*/
@media (max-width: 969px) {
    #editModal .modal-dialog{
        min-width: 45%;
        max-width: 72%;
    }
}
/*Modal Design Responsiveness End*/


.btn-close i{
    color: darkgray;
    size: 25px;
}
.input-bg{
    background-color: #F2F2F2;
    line-height: 1.4em;
    overflow-y: auto;
    overflow-wrap: break-word;
}
.semilong-input{
    min-height: 6em;
    max-height: 8em;

}
.input-label{
    font-weight: 600;
    font-size: 17px;
}
.modal-btn{
    color: white;
    size: 25px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 6px 16px;
    margin-right: 12px;
    float: right;
}
.btn-modal-edit{
    background-color: #023FD8;
}
.btn-modal-delete{
    background-color: #DC143C;
}


/*Edit Modal Design Start*/


/*Edit Modal Design End*/


/*#endregion Modal Designs End*/

