@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Barlow:wght@200&family=Poppins:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

/*Header starts here */
.accred-header {
    background-color: #043E9F;
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accred-header .img-header{
    display: flex;
    justify-content: flex-start;
    margin-left: 2.8%;
}
.accred-header .logo-img{
    height: 65px;
    width: 65px;
}

.accred-header h1 ,.accred-header a{
    font-size: 32px;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #fff;
}

.accred-header .site-header{
    margin-left: 95px;
    margin-top: 5px;
}
.accred-header a {
    text-decoration: none;
    list-style: none;
    justify-content: flex-end;
    margin-right: 7%;
}
/*Responsive Text Size starts here */
@media screen and (min-width: 861px) {
    .accred-header h1 ,.accred-header a {
      font-size: 32px;
    }
}
@media screen and (max-width: 860px) {
    .accred-header h1 ,.accred-header a {
      font-size: 24px;
    }
    .accred-header .site-header{
        margin-left: 15px;
        margin-top: 12px;
    }
}
/*Responsive Text Size ends here */


/*Header ends here */


/*Accreditation Navigation Bar starts here */
nav {
    background-color: #023FD8;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    margin: 0 5px;
    background-color: #023FD8;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 2px #fff,
                0 0 2px #fff;
}

nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;
}

nav ul li i {
    margin-left: 10px;
    font-size: 15px;
}

nav ul ul {
    position: absolute;
    top: 70px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 370px;
    display: list-item;
    border-bottom: 1px dotted #fff;
}
.short {
    width: 175px;
}

nav ul ul li a {
    line-height: 60px;
}
/*Accreditation Navigation Bar ends here */


/*Header and horizontal tag starts here*/
.area-status-header .status-header {
    margin-top: 6%;
    margin-left: 9%;
}

.area-status-header .view-all-comments {
    float: right;
    font-weight: bold;
    margin-top: -1.5%;
    margin-right: 10%;
}

.area-status-header .view-all-comments i {
    color: #043E9F;
    font-size: 20px;
}

.area-status-header .view-all-comments a {
    text-decoration: none;
    color: #000;
    margin-left: 5px;
    font-size: 20px;
}

.area-status-header hr.area-status-hr {
    margin-top: 0.5%;
    width: 81%;
    margin-left: 9%;
    height: 8px;
    border-radius: 50px;
    border: none;
    background-color: #043E9F;
}


.dept-header .program-header {
    margin-top: 6%;
    margin-left: 9%;
}

.dept-header hr.program-hr {
    margin-top: 0.5%;
    width: 81%;
    margin-left: 9%;
    height: 8px;
    border-radius: 50px;
    border: none;
    background-color: #043E9F;
}
/*Header and horizontal tag ends here*/


/*Table content starts here */
.table-container {
    padding: 0 10%;
    margin-left: -15px;
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
   background-color: #043E9F;
}

.table thead tr th {
    font-size: 17px;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 0.35px;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 3px solid #fff;
    letter-spacing: 1px;
}

.table tbody tr td {
    font-size: 16px;
    letter-spacing: 0.35px;
    color: #000;
    padding: 8px;
    text-align: center;
    border-right: 3px solid #fff;
    font-weight: bold;
    border-bottom: 1px solid #E6E6E6;
}

.table tbody tr td a {
    text-decoration: none;
    color: #043E9F;
}

.table tbody tr td i {
    color: #043E9F;
    padding-right: 5px;
    cursor: pointer;
}

.table tbody .button {
    text-decoration: none;
    outline: none;
    border: none;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.table tbody tr td:nth-of-type(2) {
    text-align: left;
}

.table tbody tr td:nth-of-type(3) {
    text-align: left;
}

.table tbody tr td:nth-of-type(4) {
    text-align: center;
}

/*Toggle Button Starts here */
.toggle-button input[type=checkbox].toggle{
    display: none;
}

.toggle-button input[type=checkbox].toggle + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button input[type=checkbox].toggle + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button input[type=checkbox].toggle + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button input[type=checkbox].toggle + label.rounded {
    border-radius: 30px;
}

.toggle-button input[type=checkbox].toggle + label.rounded:before {
    border-radius: 50%;
}

.toggle-button input[type=checkbox].toggle:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button input[type=checkbox].toggle:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button input[type=checkbox].toggle:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button input[type=checkbox].toggle:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button input[type=checkbox].toggle:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button input[type=checkbox].toggle:checked + label:before {
    left: 102px;
    background-color: #196906;
}

/***********************************************/
.toggle-button-two input[type=checkbox].toggle-two{
    display: none;
}

.toggle-button-two input[type=checkbox].toggle-two + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button-two input[type=checkbox].toggle-two + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button-two input[type=checkbox].toggle-two + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button-two input[type=checkbox].toggle-two + label.rounded-two {
    border-radius: 30px;
}

.toggle-button-two input[type=checkbox].toggle-two + label.rounded-two:before {
    border-radius: 50%;
}

.toggle-button-two input[type=checkbox].toggle-two:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button-two input[type=checkbox].toggle-two:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button-two input[type=checkbox].toggle-two:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button-two input[type=checkbox].toggle-two:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button-two input[type=checkbox].toggle-two:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button-two input[type=checkbox].toggle-two:checked + label:before {
    left: 102px;
    background-color: #196906;
}
/***********************************************/

.toggle-button-three input[type=checkbox].toggle-three{
    display: none;
}

.toggle-button-three input[type=checkbox].toggle-three + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button-three input[type=checkbox].toggle-three + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button-three input[type=checkbox].toggle-three + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button-three input[type=checkbox].toggle-three + label.rounded-three {
    border-radius: 30px;
}

.toggle-button-three input[type=checkbox].toggle-three + label.rounded-three:before {
    border-radius: 50%;
}

.toggle-button-three input[type=checkbox].toggle-three:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button-three input[type=checkbox].toggle-three:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button-three input[type=checkbox].toggle-three:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button-three input[type=checkbox].toggle-three:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button-three input[type=checkbox].toggle-three:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button-three input[type=checkbox].toggle-three:checked + label:before {
    left: 102px;
    background-color: #196906;
}


/***********************************************/

.toggle-button-four input[type=checkbox].toggle-four{
    display: none;
}

.toggle-button-four input[type=checkbox].toggle-four + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button-four input[type=checkbox].toggle-four + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button-four input[type=checkbox].toggle-four + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button-four input[type=checkbox].toggle-four + label.rounded-four {
    border-radius: 30px;
}

.toggle-button-four input[type=checkbox].toggle-four + label.rounded-four:before {
    border-radius: 50%;
}

.toggle-button-four input[type=checkbox].toggle-four:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button-four input[type=checkbox].toggle-four:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button-four input[type=checkbox].toggle-four:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button-four input[type=checkbox].toggle-four:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button-four input[type=checkbox].toggle-four:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button-four input[type=checkbox].toggle-four:checked + label:before {
    left: 102px;
    background-color: #196906;
}

/***********************************************/

.toggle-button-five input[type=checkbox].toggle-five{
    display: none;
}

.toggle-button-five input[type=checkbox].toggle-five + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button-five input[type=checkbox].toggle-five + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button-five input[type=checkbox].toggle-five + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button-five input[type=checkbox].toggle-five + label.rounded-five {
    border-radius: 30px;
}

.toggle-button-five input[type=checkbox].toggle-five + label.rounded-five:before {
    border-radius: 50%;
}

.toggle-button-five input[type=checkbox].toggle-five:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button-five input[type=checkbox].toggle-five:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button-five input[type=checkbox].toggle-five:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button-five input[type=checkbox].toggle-five:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button-five input[type=checkbox].toggle-five:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button-five input[type=checkbox].toggle-five:checked + label:before {
    left: 102px;
    background-color: #196906;
}

/***********************************************/

.toggle-button-six input[type=checkbox].toggle-six{
    display: none;
}

.toggle-button-six input[type=checkbox].toggle-six + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button-six input[type=checkbox].toggle-six + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button-six input[type=checkbox].toggle-six + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button-six input[type=checkbox].toggle-six + label.rounded-six {
    border-radius: 30px;
}

.toggle-button-six input[type=checkbox].toggle-six + label.rounded-six:before {
    border-radius: 50%;
}

.toggle-button-six input[type=checkbox].toggle-six:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button-six input[type=checkbox].toggle-six:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button-six input[type=checkbox].toggle-six:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button-six input[type=checkbox].toggle-six:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button-six input[type=checkbox].toggle-six:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button-six input[type=checkbox].toggle-six:checked + label:before {
    left: 102px;
    background-color: #196906;
}

/***********************************************/

.toggle-button-seven input[type=checkbox].toggle-seven{
    display: none;
}

.toggle-button-seven input[type=checkbox].toggle-seven + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button-seven input[type=checkbox].toggle-seven + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button-seven input[type=checkbox].toggle-seven + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button-seven input[type=checkbox].toggle-seven + label.rounded-seven {
    border-radius: 30px;
}

.toggle-button-seven input[type=checkbox].toggle-seven + label.rounded-seven:before {
    border-radius: 50%;
}

.toggle-button-seven input[type=checkbox].toggle-seven:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button-seven input[type=checkbox].toggle-seven:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button-seven input[type=checkbox].toggle-seven:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button-seven input[type=checkbox].toggle-seven:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button-seven input[type=checkbox].toggle-seven:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button-seven input[type=checkbox].toggle-seven:checked + label:before {
    left: 102px;
    background-color: #196906;
}

/***********************************************/

.toggle-button-eight input[type=checkbox].toggle-eight {
    display: none;
}

.toggle-button-eight input[type=checkbox].toggle-eight + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button-eight input[type=checkbox].toggle-eight + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button-eight input[type=checkbox].toggle-eight + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button-eight input[type=checkbox].toggle-eight + label.rounded-eight {
    border-radius: 30px;
}

.toggle-button-eight input[type=checkbox].toggle-eight + label.rounded-eight:before {
    border-radius: 50%;
}

.toggle-button-eight input[type=checkbox].toggle-eight:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button-eight input[type=checkbox].toggle-eight:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button-eight input[type=checkbox].toggle-eight:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button-eight input[type=checkbox].toggle-eight:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button-eight input[type=checkbox].toggle-eight:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button-eight input[type=checkbox].toggle-eight:checked + label:before {
    left: 102px;
    background-color: #196906;
}

/***********************************************/

.toggle-button-nine input[type=checkbox].toggle-nine {
    display: none;
}

.toggle-button-nine input[type=checkbox].toggle-nine + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button-nine input[type=checkbox].toggle-nine + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button-nine input[type=checkbox].toggle-nine + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button-nine input[type=checkbox].toggle-nine + label.rounded-nine {
    border-radius: 30px;
}

.toggle-button-nine input[type=checkbox].toggle-nine + label.rounded-nine:before {
    border-radius: 50%;
}

.toggle-button-nine input[type=checkbox].toggle-nine:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button-nine input[type=checkbox].toggle-nine:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button-nine input[type=checkbox].toggle-nine:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button-nine input[type=checkbox].toggle-nine:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button-nine input[type=checkbox].toggle-nine:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button-nine input[type=checkbox].toggle-nine:checked + label:before {
    left: 102px;
    background-color: #196906;
}


/***********************************************/

.toggle-button-ten input[type=checkbox].toggle-ten {
    display: none;
}

.toggle-button-ten input[type=checkbox].toggle-ten + label {
    display: inline-block;
    height: 30px;
    width: 130px;
    position: relative;
    font-size: 15px;
    border: 1px solid #F50000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.toggle-button-ten input[type=checkbox].toggle-ten + label:before {
    position: absolute;
    top: 3px;
    height: 22px;
    width: 22px;
    content: '';
    transition: all 0.3s ease;
    z-index: 3;
}

.toggle-button-ten input[type=checkbox].toggle-ten + label:after {
  width: 90px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-button-ten input[type=checkbox].toggle-ten + label.rounded-ten {
    border-radius: 30px;
}

.toggle-button-ten input[type=checkbox].toggle-ten + label.rounded-ten:before {
    border-radius: 50%;
}

.toggle-button-ten input[type=checkbox].toggle-ten:not(:checked) + label {
    background-color: transparent;
    text-align: right;
}

.toggle-button-ten input[type=checkbox].toggle-ten:not(:checked) + label:after {
    content: attr(data-unchecked);
    right: 10px; /**/
    left: auto;
    opacity: 1;
    color: #F50000;
}

.toggle-button-ten input[type=checkbox].toggle-ten:not(:checked) + label:before {
    left: 4px;
    background-color: #F50000;
}

.toggle-button-ten input[type=checkbox].toggle-ten:checked + label {
    text-align: left;
    border-color: #196906;
}

.toggle-button-ten input[type=checkbox].toggle-ten:checked + label:after {
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: #196906;
}

.toggle-button-ten input[type=checkbox].toggle-ten:checked + label:before {
    left: 102px;
    background-color: #196906;
}

/*Toggle Button ends here */

.select-choices {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

.select-choices-two {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices-two option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

.select-choices-three {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices-three option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

.select-choices-four {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices-four option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

.select-choices-five {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices-five option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

.select-choices-six {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices-six option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

.select-choices-seven {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices-seven option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

.select-choices-eight {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices-eight option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

.select-choices-nine {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices-nine option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

.select-choices-ten {
    padding: 8px 12px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.select-choices-ten option {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}



/*Table content ends here */


/*Responsiveness starts here */
@media (max-width: 768px) {
    .table thead {
        display: none;
    }

    .table, .table tbody,.table tr,.table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        font-size: 17px;
        text-align: left;
    }

    .table tbody tr td:nth-of-type(2) {
        text-align: right;
    }

    .table tbody tr td:nth-of-type(3) {
        text-align: right;
    }

    .table tbody tr td:nth-of-type(4) {
        text-align: right;
    }

    .area-status-header .view-all-comments {
        float: left;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 9%;
    }

    .accred-header .logo-img span h1{
        margin-left: 20%;
        position: relative;
    }

    .accred-header .header-two a h1 {
      font-size: 21.7px;
    }
}
/*Responsiveness ends here */

/*Footer starts here */
footer {
    background-color: #043E9F;
    padding: 50px 20px;
    margin-top: 5%;
}

.footer-content li img {
    width: 200px;
    height: 200px;
    margin-left: 7%;
}

.footer-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .accred-ftr h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
    color: #fff;
    font-weight: 550;
}

footer .footer-content {
    list-style: none;
}

footer .footer-content a {
    text-decoration: none;
    color: #ffff;
    line-height: 25px;
}

footer .footer-content a:hover {
    font-weight: bold;
}

footer .footer-content li {
    color: #fff;
    font-size: 17px;
    line-height: 25px;
}

footer .footer-content li i {
    padding-right: 10px;
}

@media only screen and (max-width: 540px) {
    footer .accred-ftr {
        flex-basis: 80%;
        margin: 0 auto;
    }

    footer .accred-ftr h3 {
        margin-top: 6%;
    }

    .footer-content li img {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    footer .accred-ftr {
        flex-basis: 80%;
        margin: 0 auto;
    }

    footer .accred-ftr h3 {
        margin-top: 6%;
    }

    .footer-content li img {
        margin-left: 20px;
    }
}

@media (max-width: 930px) {
    footer .accred-ftr {
        flex-basis: 80%;
        margin: 0 auto;
    }

    footer .accred-ftr h3 {
        margin-top: 6%;
    }

    .footer-content li img {
        margin-left: 12px;
    }
}
/*Footer ends here */

/*Select Program Starts here*/
    .department-header-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 50px auto;
    }
    .department-heading h2 {
        font-size: 35px;
        margin-bottom: 10px;
        font-weight: bold;
        color: #023FD8;
        flex: 1 1 100%;
    }

    .department-heading p {
        font-size: 25px;
        margin-bottom: 50px;
        color: #023FD8;
        width: 50%;
    }
    @media screen and (min-width: 861px) {
        .department-heading p {
            width: 50%;
        }
    }
    @media screen and (max-width: 860px) {
        .department-heading p {
            width: 80%;
        }
    }
    .department-card-container{
        width: 90%;
        margin: 50px auto;
    }
    .department-card {
        width: 100%;
        background: #fff;
        border: 1px solid #ccc;
        margin-right: 25px;
        margin-bottom: 50px;
        transition: 0.3s;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
      }
    .department-heading {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .department-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* justify-content: space-around; */
        flex-flow: wrap;
    }
    .multi-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
    }
    .department-card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
      }
    .card-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-header img {
        width: 250px;
    }
    .card-body {
        width: 250px;
        padding: 30px 20px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #023FD8;
    }
    .card-body p {
        min-height: 4.2em;
        line-height: 1.4em;
    }

    .card-body .report-btn {
        display: block;
        text-align: center;
        margin-top: 10px;
        text-decoration: none;
        padding: 10px 5px;
        font-size: 17px;
        border-radius: 50px;
    }
    .card-body .dci-btn {
        border: 1px solid #666666;
        color:#666666;
    }
    .card-body .dbe-btn {
        border: 1px solid #EF1833;
        color:#EF1833;
    }
    .card-body .dte-btn {
        border: 1px solid #49983C;
        color:#49983C;
    }
    .card-body .dci-btn:hover {
        color: #fff;
        background-color: #666666;
    }

    .card-body .dbe-btn:hover {
        color: #fff;
        background-color: #EF1833;
    }

    .card-body .dte-btn:hover {
        color: #fff;
        background-color: #49983C;
    }

/*Select Program ends here*/
